.clients {
	background-color: rgb(45, 46, 45);
	color: white;
	font-family: "Open Sans", sans-serif;
	padding: 7rem clamp(2rem, 3vw, 3rem) 5rem;

	.clients__title-box {

		.clients__title-box--title {
			text-transform: uppercase;
			font-size: clamp(2.5rem, 5vw, 3rem);
			font-weight: 700;
			font-weight: 800;
			letter-spacing: 0.3rem;
			margin: 1rem 0;
		}
		.clients__title-box--underline-dig {
			background-color: rgb(166, 148, 148);
			width: clamp(150px, 35vw, 400px);
			height: .7rem;
		}
		.clients__title-box--underline-thin {
			background-color: rgb(166, 148, 148);
			width: auto;
			height: 1px;
		}
	}
	.clients__names {
		text-align: center;
		.clnts__nm {
			font-size: 3rem;
			font-weight: 800;
			margin-block: 3rem;
		}
	}
}
@media (min-width: 1060px) {
	.clients{
		.clients__title-box{
			max-width: 1000px;
			margin-inline: auto;
		}
		.clients__names{
			margin: 4rem 0 3rem;
			display: flex;
			justify-content: space-around;
		}
	}
}